/* Variables */
$transition: all 1s;

$color-one: #0097e6;
$color-two: #f1f4f4;
$color-three:#eed12b;
$color-four: #fff;

$text-color-one: #fff;
$text-color-two: #2c2c54;
$text-color-three: #33d9b2;

$font-main: 'Inconsolata', monospace;
$font-header: 'Signika Negative', sans-serif;
$font-special: 'Great Vibes', cursive;

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: $font-main;
    line-height: 1.7;
}

section {
    padding: 45px 0;

    .title {
        margin: 0 0 25px 0;
        text-align: center;

        h2 {
            margin: 0 auto;
            font-size: 48px;
            line-height: 1;
        }
    }

    h5 {
        font-size: 14px;
        margin: 0 auto;
        line-height: 1;
        opacity: 0.5;
        font-style: italic;
    }

    .service-item > * {
        text-align: center;
        margin: 0 auto;
    }
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-header;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    
    &:hover {
        background-position: 0 100%;
        color: $color-one;
        transition: $transition;
    }
}

/* Navigation */
.navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px 0;
    font-size: 16px;
    ul {
        padding: 0 0;
        margin: 0 0;
        list-style-type: none;

        li {
            display: inline-block;
            margin-right: 36px;
            position: relative;
        }
    }

    a {
        text-decoration: none;
        color: $text-color-one;
        
        &:hover {
            color: $text-color-three;
        }
    }
}

.nav-brand {
    color: $color-three;
    font-family: $font-special;
}

/* Header */
.splash {
    background-image: url('https://i.postimg.cc/dQzmYpRg/pexels-th-era-photography-9031307-1.jpg');
    min-height: 500px;
    color: $text-color-one;
}

.splash-inner {
    margin: 160px auto;
    max-width: 70%;

    .page-title {
        margin: 0 auto;
        font-size: 74px;
        text-align: center;
        word-spacing: -24px;
        font-weight: 700;
        line-height: 1.2;
    }

    .page-subtitle {
        margin: 24px auto;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }
}

.btn-one {
    border: none !important;
    background-color: $color-three;
    color: $text-color-one;
    background-image: linear-gradient(90deg, $color-four 50%, transparent 50%);
}

/* Services */
.services {
    i {
        border: solid 2px #eed12b;
        color: #eed12b;
        border-radius: 50%;
        height: 45px;
        width: 45px;   
    }

    p {
        line-height: 1;
        font-size: 14px;
    }
}

/* Portfoio */
.portfolio {
    background-color: #f1f4f4;
    width: 100%;
    margin: 0;
    .portfolio-item {
        min-height: 300px;
        text-align: center;
      //  flex: 0 0 50%;
        padding: 15px 15px;
    }
    .image-box {
     //   position: absolute;
        width: 100%;
        max-width: 400px;
      //  min-height: 150px;
      //  height: auto;
        overflow: hidden;
        left: 0;
        bottom: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .image-text {
        background-color: #fff;
    }

    h3 {
        margin: 0;
    }
}

/* Footer */
footer {
    
    a {
        font-size: 0;
        padding: 0 3px;
        text-decoration: none;
    }
    
    i {
        font-size: 30px;
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        // position: relative;
        // float: left;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }
}